.container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
    background-color: darkgray;
    padding: 10px;
    border-radius: 10px;
}

button {
    width: 200px;
    padding: 10px;
    background-color: darkblue;
    color: aliceblue;
    font-size: 20px;
    border-radius: 10px;
    border: 4px solid silver;
}